img {
    width: 100%;
}
nav #tagList {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
}
#tagList label {
    text-transform: capitalize;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
    grid-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}
article {
    margin: 0;
    border: 2px solid grey;
} 
.rating {
    text-align: center;
}

article:hover {
    outline: 4px solid grey;
    cursor: pointer;
}